language: java
jdk:
  - openjdk8
sudo: true
before_install:
  - chmod +x mvnw
addons:
  sonarcloud:
    organization: "acroynon-github"
    token:
      secure: "VXtTKoY6u89JeiS72c2F5JvCgsKvx7Nj0QdmD9ifPlFMT/Yk+B/Fe3tsrOvMkPNhJyD7g/R40tJg6g6H3ZU6zb7WpDxHC2OmtxqXbjtG27fs1zSKgKuERzL0HYQaWXHYm2Y6W2wsKwG9efwOc8/opfNcZ53CGZIygOyuady2R7Mlfp+I58LxdZpRHhGrmBVjeKtTeyuw8uLJBydHLgeZg0Fjc7HL2L3vRJlM6ffzBqQ4DL3K5epMXpTL3VMzR3Exz9Ko51xgOyq1cLMRm+nN1OpfnfyMPJ1MOb5tCK7gmrHOiwjkMA5hCGkoVzg9vpGAFo9/9mPdqbUJZKqeUmnCjuUETAcsgce1LeOzM51GQau2MQFcz/pEcoJiJAns4IVArcCtLuF+ZXCQKrqCIglsvFYoONOHfQBdl2XkRHmMXPqHqnyd4OfRmkgKN1ZeWz8H2SMsug2iSlUvs7Ge4Se8oZFRzMViz2oPK8d5s7zDsyqoBn3wvXn8DcG0CcXfeca5TMAXy22M90kgs/VrRdrpvFxdqYxiDKaOzQJpeZMl6YNeQa6UrMA9BZvZzDWfAxwRGhV49cpwg2L6mKlZ3JboV55j1hUmmAjaPMXOQ0Y78nc2PNajweZJosP/drC7OOlRVmbvWMyY/9weDgp0Gb3398bCfj7rkL+a8k0YorQgMS8="
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
